@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
    --box-category-titleSize: 20px;
    --box-input-size:16px;
    --box-category-choiceSize: 18px;
    --between-label: 20px;
    --between-input: 5px;
    --flex-subtitle: 1;
    --flex-options: 6;
}

/* PRELOADER */
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100vw;
    height: 100vh;
}
.loader{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #99BD51;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

* button{
    cursor: pointer;
}


/* //HEADER */

header{
    background-color: #FFF;
    width: 100%;
    margin: 0px auto 20px auto;
    display: flex;
}

.head{
    display: flex;
    margin: auto;
    width: 90%;
    background-color: #FFF;
    align-items: center;
    font-size: 22px;
    justify-content: space-between;
}

.head-left{
    display: flex;
    align-items: center;
}


.head-left img{
    width: 80px;
    padding: 15px;
    margin-left: 20px;
    display: flex;
}

.ImageLabel{
    display: flex;
    flex-direction: column;

}

.head-right button{
    font-size: var(--box-input-size);
    border: 2px solid #505050;
    border-radius: 5px;
    color: #505050;
    padding: 10px 20px;
    text-align: center;
}

.h1{
    color: #99BD51;
}

.h2{
    color: #505050;
}


/* //BODY&BOX */

body{
    background-color: #F6F6F6;
    width: 100%;
}

#empadd-form{
    line-height: 3.5;
    display: grid;
    grid-template-rows: repeat(9, 1fr);

}

.box{
    background-color: #FFF;
    color: #505050;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    /* height: 80vh; */
    flex-direction: column;
    margin:  10px auto;
    padding: 25px;
    box-shadow: 0px 0px 15px 1px #DCDCDC;
}


/* //TITLE OF BOX */

.title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}


/* //NAME */

#name{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: var(--box-category-titleSize);
}

#name input{
    display: flex;
    flex: var(--flex-options);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
    color: #505050;
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
}

#name label{
    display: flex;
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}


/* //PROFILE */

#profile{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#profile img{
    width: 35px;
    /* margin: auto; */
    margin-left: var(--between-label);
}

.ProfileOptions div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#profile label{
    flex: var(--flex-subtitle);
    display: flex;
    align-items: center;
    margin-right: var(--between-label);
}

.ProfileOptions{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: var(--flex-options);
}

#profile input{
    margin-right: var(--between-input);
}


/* //GENDER */

#gender{
    display: flex;
    font-size: var(--box-category-titleSize);
}

.Genders{
    flex: var(--flex-options);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: flex-start;
}

#gender label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.Genders label{
    font-size: var(--box-category-choiceSize);
}

.Genders input{
    margin-right: var(--between-input);
}


/* //DEPT */

#dept{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

#dept label{
    margin-right: var(--between-label);
    flex: var(--flex-subtitle);
}

.Depts{
    flex: var(--flex-options);
    display: flex;
    flex-wrap: wrap;
}

.Depts label{
    font-size: var(--box-category-choiceSize);
}

.Depts input{
    margin-right: var(--between-input);
}

.Depts div{
    display: flex;
    align-items: center;
    margin-right: 20px;
}


/* //SALARY */
#salary{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

#salary label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.salaryBar input{
    /* flex: var(--flex-options); */
    width: 100%;
    margin-right: var(--between-label);
}

.salaryBar{
    display: flex;
    align-items: center;
    flex: var(--flex-options);
}

/* //DATE */

#startdate{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#startdate label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.DateInput select{
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 30%;
    color: #505050;
    margin-right: var(--between-input);
    padding: var(--between-input);
}

.DateInput{
    flex: var(--flex-options);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* //NOTES */

#notes{
    font-size: var(--box-category-titleSize);
    margin: 10px 0px 20px 0px;
    display: flex;
    /* align-items: flex-end; */
}

#notes label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
    display: flex;
    align-items: flex-start;
}

#notes textarea{
    flex: var(--flex-options);
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 100%;
    color: #505050;
    padding: 5px;
}


/* //BUTTONS */

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.buttons button{
    font-size: var(--box-input-size);
    border: 2px solid #505050;
    border-radius: 5px;
    color: #505050;
    padding: 10px 20px;
    text-align: center;
}
    

.formButtons button{
    margin-left: var(--between-input);
    
}

.row-content input{
    outline: none;
}

.row-content.error input{
    border-color: #FF0000 !important;
}

.row-content.success input{
    border-color: #3FA600 !important;
}

.DateInput.error select{
    border-color: #FF0000 !important;
    
}

.DateInput.success select{
    border-color: #3FA600 !important;
}

@media screen  and (max-width: 700px){
    .box{
        width: 95%;
    }
    #name{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #name input{
        padding: 7px;
    }
    #name label{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #profile{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #profileLabel{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    #profile label{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .ProfileOptions{
        display: flex;
        /* flex-flow: column wrap; */
        /* padding: 10px; */
    }
    .ProfileOptions label{
        padding: 10px;
        align-items: flex-end;
        justify-content: flex-start;
        margin-left: 0px;
        text-align: left;
    }
    .ProfileOptions input{
        padding: 10px;
    }
    #gender{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #dept{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #deptId{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    #salary{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #salaryId{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    .salaryBar{
        width: 100%;
    }
    #startdate{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #dateId{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    .DateInput{
        width: 100%;
        flex-direction: column;
    }
    .DateInput select{
        margin: 20px;
        width: 100%;
    }
    #notes{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #noteId{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    #Notes{
        padding: 10px !important;
    }
    .buttons button{
        padding: 15px 30px;
        font-size: var(--box-category-titleSize);
    }
    #gender{
        flex-direction: column;
        margin: 20px;
        border: 20px solid white;
    }
    #genderId{
        width: 100%;
        align-items: flex-start !important;
        margin-right: 0px !important;
    }
    .Genders label{
        margin-right: 55px !important;
    }

}