@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
    --box-category-titleSize: 20px;
    --box-input-size:16px;
    --box-category-choiceSize: 18px;
    --between-label: 20px;
    --between-input: 5px;
    --flex-subtitle: 1;
    --flex-options: 6;
}


*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

* button{
    cursor: pointer;
}


/* //HEADER */

header{
    background-color: #FFF;
    margin-top: 100px;
    width: 100%;
    /* padding: 100px; */
    margin: 0px auto 20px auto;
}

.head{
    margin: auto;
    display: flex;
    width: 90%;
    background-color: #FFF;
    align-items: center;
    font-size: 22px;
}


.head img{
    width: 80px;
    padding: 15px;
    margin-left: 20px;
}

.h1{
    color: #99BD51;
}

.h2{
    color: #505050;
}


/* //BODY&BOX */

body{
    background-color: #F6F6F6;
    width: 100%;
}

#empadd-form{
    line-height: 3.5;
    display: grid;
    grid-template-rows: repeat(9, 1fr);

}

.box{
    background-color: #FFF;
    color: #505050;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    /* height: 80vh; */
    flex-direction: column;
    margin:  10px auto;
    padding: 25px;
    box-shadow: 0px 0px 15px 1px #DCDCDC;
}


/* //TITLE OF BOX */

.title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}


/* //NAME */

#name{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: var(--box-category-titleSize);
}

#name input{
    display: flex;
    flex: var(--flex-options);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
    color: #505050;
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
}

#name label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}


/* //PROFILE */

#profile{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#profile img{
    width: 35px;
    /* margin: auto; */
    margin-left: var(--between-label);
}

#profile label{
    flex: var(--flex-subtitle);
    display: flex;
    align-items: center;
    margin-right: var(--between-label);
}

.ProfileOptions{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: var(--flex-options);
}

#profile input{
    margin-right: var(--between-input);
}


/* //GENDER */

#gender{
    display: flex;
    font-size: var(--box-category-titleSize);
}

.Genders{
    flex: var(--flex-options);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: flex-start;
}

#gender label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.Genders label{
    font-size: var(--box-category-choiceSize);
}

.Genders input{
    margin-right: var(--between-input);
}


/* //DEPT */

#dept{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

#dept label{
    margin-right: var(--between-label);
    flex: var(--flex-subtitle);
}

.Depts{
    flex: var(--flex-options);
}

.Depts label{
    font-size: var(--box-category-choiceSize);
}

.Depts input{
    margin-right: var(--between-input);
}


/* //SALARY */
#salary{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

#salary label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.salaryBar input{
    /* flex: var(--flex-options); */
    width: 100%;
    margin-right: var(--between-label);
}

.salaryBar{
    display: flex;
    align-items: center;
    flex: var(--flex-options);
}

/* //DATE */

#startdate{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#startdate label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
}

.DateInput select{
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 30%;
    color: #505050;
    margin-right: var(--between-input);
    padding: var(--between-input);
}

.DateInput{
    flex: var(--flex-options);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* //NOTES */

#notes{
    font-size: var(--box-category-titleSize);
    margin: 10px 0px 20px 0px;
    display: flex;
    /* align-items: flex-end; */
}

#notes label{
    flex: var(--flex-subtitle);
    margin-right: var(--between-label);
    display: flex;
    align-items: flex-start;
}

#notes textarea{
    flex: var(--flex-options);
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 100%;
    color: #505050;
    padding: 5px;
}


/* //BUTTONS */

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.buttons button{
    font-size: var(--box-input-size);
    border: 2px solid #505050;
    border-radius: 5px;
    color: #505050;
    padding: 10px 20px;
    text-align: center;
}
    

.formButtons button{
    margin-left: var(--between-input);
    
}

.row-content input{
    outline: none;
}

.row-content.error input{
    border-color: #FF0000 !important;
}

.row-content.success input{
    border-color: #3FA600 !important;
}

.DateInput.error select{
    border-color: #FF0000 !important;
    
}

.DateInput.success select{
    border-color: #3FA600 !important;
}

.DateInput select{
    outline: none;

}

.row-content input{
    
}
