@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

:root{
    --box-category-titleSize: 25px;
    --box-input-size:16px;
    --box-tablehead-fontsize: 20px;
    --between-label: 20px;
    --between-input: 5px;
    --button-padding: 10px
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;}

body{
    background-color: #F6F6F6;
    background-image: linear-gradient(to bottom right, #B2CE8F , #7D8770);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    background-color: #FFF;
    margin: 0px auto 50px auto;
}

.head{
    margin: auto;
    display: flex;
    width: 90%;
    align-items: center;
    font-size: 22px;

}

.head img{
    width: 80px;
    padding: 15px;
    margin-left: 20px;
}

.h1{
    color: #99BD51;
}

.h2{
    color: #505050;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 2.5;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 1px rgba(29, 25, 25, 0.322);
    padding-bottom: 30px;
    border-radius: 10px;
}

.box{
    padding: 15px;
    width: 90%;
    
}

#form-title h1{
    text-transform: uppercase;
    font-size: 45px;
    padding: 15px;
    letter-spacing: 20px;  
    font-weight: 900;
    background-color: #4158D0;
    background: -webkit-linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* label{
    font-size: var(--box-tablehead-fontsize);
    /* margin-right: var(--between-label); */

}
* input{
    font-size: var(--box-input-size);
    border-radius: 5px;
    border: 2px solid #505050;
    padding: var(--between-input);
}

.boxContent{
    display: grid;
    grid-template-rows: 2fr 2fr 1.5fr;
    padding: 10px;
    justify-self: start;
}

.boxContent label{
    justify-self: start;
}
.boxContent input{
    justify-self: start;
    height: 75%;
    width: 100%;
}
.boxContent small{
    justify-self: start;
}


* button{
    font-size: var(--box-input-size);
    padding: var(--button-padding);
    margin: 0px 10px 40px 10px;
    border: 2px solid #505050;
    border-radius: 5px;
    cursor: pointer;
}

.boxContent.error input{
    border: 2px solid #FF0000;
    
}

.boxContent.success input{
    border: 2px solid #3FA600;
    
}

#signupRedirect{
    color: #99BD51;
    margin-bottom: 10px;
    font-weight: lighter;
}

.buttonBox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonBox button{
    margin: auto;
    width: 40%;
}

#alert{
    color: #FF0000;
}

@media screen and (max-width: 900px) {
    form{
        width: 90%;
    }
    .boxContent{
        flex-direction: column;
        align-items: baseline;
    }
    input{
        width: 100%;
    }
    .buttonBox{
        flex-direction: column;
    }
    .buttonBox button{
        margin: 15px 10px;
        width: 100%;
    }
    .box{
        padding-bottom: 35px;
    }
}