
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
    --box-category-titleSize: 20px;
    --box-input-size:16px;
    --box-category-choiceSize: 18px;
    --between-label: 20px;
    --between-input: 5px;
}


*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}


/* //HEADER */

header{
    background-color: #FFF;
    padding: 10px auto;
    margin-bottom: 25px;
}

.head{
    margin: auto;
    display: flex;
    width: 90%;
    background-color: #FFF;
    align-items: center;
    font-size: 22px;
}


.head img{
    width: 80px;
    padding: 15px;
    margin-left: 20px;
}

.h1{
    color: #99BD51;
}

.h2{
    color: #505050;
}


/* //BODY&BOX */

body{
    background-color: #F7F5E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    line-height: 3.5;

}

.box{
    background-color: #FFF;
    color: #505050;
    display: flex;
    justify-content: flex-start;
    width: 40vw;
    /* height: 80vh; */
    flex-direction: column;
    margin:  10px auto;
    padding: 25px;
    box-shadow: 0px 0px 10px 1px #C0C0C0;
}


/* //TITLE OF BOX */

.title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}


/* //NAME */

.name{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: var(--box-category-titleSize);
}

.name input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
    color: #505050;
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
}

.name label{
    margin-right: var(--between-label);
}


/* //PROFILE */

.profile{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile img{
    width: 35px;
    margin: auto;
}

.profile div{
    display: flex;
    align-items: center;
}

.profile label{
    display: flex;
    align-items: center;
    margin-right: var(--between-label);
}

.profile input{
    margin-right: var(--between-input);
}


/* //GENDER */

.gender{
    display: flex;
    font-size: var(--box-category-titleSize);
}

.Genders{
    display: flex;
    align-items: center;
}

.gender label{
    margin-right: var(--between-label);
}

.Genders label{
    font-size: var(--box-category-choiceSize);
}

.Genders input{
    margin-right: var(--between-input);
}


/* //DEPT */

.dept{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

.dept label{
    margin-right: var(--between-label);
}

.Depts label{
    font-size: var(--box-category-choiceSize);
}

.Depts input{
    margin-right: var(--between-input);
}


/* //SALARY */
.salary{
    display: flex;
    align-items: center;
    font-size: var(--box-category-titleSize);
}

.salary label{
    margin-right: var(--between-label);
}

.salary input{
    width: 100%;
    margin-right: var(--between-input);
}

value{
    font-size: var(--box-category-choiceSize);
}


/* //DATE */

.startdate{
    font-size: var(--box-category-titleSize);
    display: flex;
    align-items: center;
}

.startdate label{
    margin-right: var(--between-label);
}

.startdate input{
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 50%;
    color: #505050;
}


/* //NOTES */

.notes{
    font-size: var(--box-category-titleSize);
    margin: 10px 0px 20px 0px;
    display: flex;
    /* align-items: flex-end; */
}

.notes label{
    margin-right: var(--between-label);
    display: flex;
    align-items: flex-start;
}

.notes textarea{
    border: 2px solid #505050;
    border-radius: 5px;
    font-size: var(--box-input-size);
    width: 100%;
    color: #505050;
    padding: 5px;
}


/* //BUTTONS */

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.buttons button{
    font-size: var(--box-input-size);
    border: 2px solid #505050;
    border-radius: 5px;
    color: #505050;
    padding: 10px 20px;
    text-align: center;
}
    

.formButtons button{
    margin-left: var(--between-input);
    
}