
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
    --box-category-titleSize: 20px;
    --box-input-size:16px;
}


*{
    box-sizing: border-box;
    margin: 0px;
    /* padding: 0px; */
    font-family: 'Josefin Sans', sans-serif;
}


header{
    background-color: #FFF;
    padding: 10px auto;
    margin-bottom: 25px;
}

.head{
    margin: auto;
    display: flex;
    width: 90%;
    background-color: #FFF;
    align-items: center;
    font-size: 22px;
}


.head img{
    width: 80px;
    padding: 15px;
    margin-left: 20px;
}

.h1{
    color: #99BD51;
}

.h2{
    color: #505050;
}

body{
    background-color: #F7F5E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    line-height: 2.5;
    background-color: #FFF;
    color: #505050;
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    height: 80vh;
    flex-direction: column;
    margin:  10px auto;
    padding: 25px;
    box-shadow: 0px 0px 10px 1px #C0C0C0;
}

.title{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

.name{
    display: flex;
    justify-content: flex-start;
    font-size: var(--box-category-titleSize);
}

.name input{
    border: 2px solid #505050;
    border-radius: 5px;
    width: 100%;
    margin: 8px;
    color: #505050;
    font-size: var(--box-input-size);
}
/*
.profile{
    display: flex;
    align-items: center;
}

.profile div{
    display: flex;
    margin: 10px;
    align-items: center;
}

.profile input{
    margin: 10px;
}


input{
    margin: 10px;
} */